[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"doc8" = "*"

[packages]
sphinx = "*"
sphinx-materialdesign-theme = "*"
sphinxcontrib-contentui = "*"

[requires]
python_version = "3.6"
